.auth__group{
    margin-bottom: 2rem;

    font-size: 1.6rem;
    font-weight: 500;
}

.auth__input{
    display: block;
    width: 100%;

    padding: 1.2rem 3rem;

    line-height: 3rem;

    background-color: #F8F8F8;
    border: 1px solid transparent;
    border-radius: .4rem;
    transition: border .2s ease-in-out;

    &:hover,
    &:focus{
        border: 1px solid #B8B8B8;
    }
}

.auth__label{
    display: block;
    margin-bottom: 1.5rem;

    line-height: 2rem;
    color: #797979;
}