<header class="header">
    <div class="header__wrapper">
        <div class="container">
            <div class="header__item header__item--dark">
                <nav class="nav">
                    <ul class="nav__wrapper nav__wrapper--left">
                        <li class="nav__item nav__item--left">
                            <a class="nav__link nav__link--left" href="#">Оптовикам</a>
                        </li>
                        <li class="nav__item nav__item--left">
                            <a class="nav__link nav__link--left" href="#">Заказ и доставка</a>
                        </li>
                        <li class="nav__item nav__item--left">
                            <a class="nav__link nav__link--left" href="#">О компании</a>
                        </li>
                        <li class="nav__item nav__item--left">
                            <a class="nav__link nav__link--left" href="#">Обзоры</a>
                        </li>
                        <li class="nav__item nav__item--left">
                            <a class="nav__link nav__link--left" href="#">Контакты</a>
                        </li>
                    </ul>
                    <button class="burger" type="button">
                        <span>Открыть навигацию</span>
                    </button>
                </nav>
                <nav class="nav">
                    <form class="search search--dark" name="search_form" action="#" method="GET">
                        <input class="search__input" type="text" placeholder="Поиск товаров по сайту">
                        <button class="search__btn">
                            <img src="assets/images/search.svg" alt="search">
                        </button>
                    </form>
                    <ul class="nav__wrapper nav__wrapper--right">
                        <li class="nav__item nav__item--right">
                            <a class="nav__link nav__link--right" href="#">Заказать звонок</a>
                        </li>
                        <li class="nav__item nav__item--right nav__item--social">
                            <div class="nav__social">
                                <a class="nav__link nav__link--icon" href="#"><svg class="icon"><use xlink:href="#vk"></use></svg></a>
                                <a class="nav__link nav__link--icon" href="#"><svg class="icon"><use xlink:href="#whatsup"></use></svg></a>
                                <a class="nav__link nav__link--icon" href="#"><svg class="icon"><use xlink:href="#instagram"></use></svg></a>
                            </div>
                        </li>
                        <li class="nav__item nav__item--right nav__item--right-contact">
                            <a class="nav__link nav__link--contact nav__link--right" href="mailto:info@richbee.ru">info@richbee.ru</a>
                        </li>
                        <li class="nav__item nav__item--right">
                            <a class="nav__link nav__link--contact nav__link--contact-left nav__link--right" href="tel:+78005411335">8 (800) 541-13-35</a>
                        </li>
                    </ul>
                    <button class="dots" type="button">
                        <span>Открыть навигацию</span>
                    </button>
                </nav>
            </div> 
        </div>
    </div>

    <div class="container">
        <div class="header__item header__item--client">
            <a class="logo" href="/">
                <img src="assets/images/richbee.svg" alt="richbee logo">
                <img class="logo__name" src="assets/images/richbee-name.svg" alt="richbee logo-name">
            </a>

            <form class="search" name="search_form" action="#" method="GET">
                <input class="search__input" type="text" placeholder="Поиск товаров по сайту">
                <button class="search__btn">
                    <img src="assets/images/search.svg" alt="search">
                </button>
            </form>

            <div class="profile">
                <div class="profile__wrapper profile__wrapper--left" id="profile-sign">
                    <div class="profile__icon profile__icon--left">
                        <div class="profile__img">
                            <img src="assets/images/profile-user.svg" alt="profile-user">
                        </div>
                    </div>
                    <div class="profile__container profile__container--left">
                        <div class="profile__header">Вход</div>
                        <div class="profile__footer">Регистрация</div>
                    </div>
                </div>
                <div class="profile__wrapper">
                    <div class="profile__icon" id="profile-cart">
                        <div class="profile__img cart-items">
                            <img src="assets/images/profile-cart.svg" alt="profile-user">
                        </div>
                    </div>
                    <div class="profile__container">
                        <div class="profile__header">4 127 350 ₽</div>
                        <div class="profile__footer">3 534 товаров</div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="menu" id="main-menu">
            <ul class="menu__left">
                <li class="menu__item">
                    <a href="#" class="menu__link has-subnav" id="category-item">Каталог товаров</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">акции и скидки</a>
                </li>
            </ul>
            <ul class="menu__right">
                <li class="menu__item">
                    <a href="#" class="menu__link">Автосвет</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Автохимия</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Инструменты</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Крепеж</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Электрика</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Посуда</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Аксессуары</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">БРЫЗГОВИКИ</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Фары</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
